{% extends "base.html" %}
{% block content %}
<h1>Forums</h1>
<p>
{% if forum_list %}
<ul>
  {% for forum in forum_list %}
    <li>
        <a href="{% url 'forums:forum_detail'  forum.id %}">{{ forum.title }}</a> @{{forum.owner}}
        {% if forum.owner == user %}
        (<a href="{% url 'forums:forum_update' forum.id %}">Edit</a> |
        <a href="{% url 'forums:forum_delete' forum.id %}">Delete</a>)
        </p>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no forums in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'forums:forum_create' %}">Add a Forum</a> |

</p>
{% endblock %}
